*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	min-height: 100vh;
	overflow: hidden;
}
h1 {
	font-weight: bold;
	font-size: 3rem;
}
.container {
	height: 100vh;
}
canvas {
	height: 100%;
	width: 100%;
}
